.hero {
    display: flex;
    height: 600px;
    align-items: center;
    border: dotted 2px;

    background-image: url('https://images.pexels.com/photos/1420702/pexels-photo-1420702.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-size: cover;

}


.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}