.hero {
    display: flex;
    height: 600px;
    align-items: center;
    border: dotted 2px;
    background-color: #e9dfd5;

}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}