.cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 50px;

    background-color: cadetblue;

    row-gap: 25px;
    
    color: white;
}
.signup-form{
    display: flex;
    justify-content: center;
    align-items: center;
}


.submit-button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;

    font-weight: bold;
    font-size: 16px;
    padding-inline: 10px;

    transition: 0.2s;
    width: auto;
}

.submit-button:hover {
    color: rgb(234, 234, 234);
    scale: 1.01;

    transition: 0.2s;
}

/* .form__label {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
    transform: translateY(0rem);
  } */
  
  .form__input {
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 16px;
    margin: 0 auto;
    padding: 5px 15px;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 250px;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
  }
/*   
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-4rem);
    transform: translateY(-4rem);
  } */