.info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 100%;
    padding-top: 50px;

    background-color: cadetblue;

    color: white;

    overflow-x: hidden;
}

.info-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: 150px;

    width: 400x;
}