.info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 100%;

    background-color: cadetblue;

    color: white;
}

.info-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 400x;
}