.navbar {
    padding-top: 20px;
    display: flex;
}
.nav-basket{
    display: flex;
    align-items: center;
}

.links {
    flex-grow: 5;
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.link {
    padding-inline: 10px;
}

.link:hover {
    cursor: pointer;
    color: red
}


.basket-button {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    background-color: aqua;
}
.basket-button:hover {
    color: red;
    cursor: pointer;
    
}